body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mainBody{
    border:5px solid #678FC2;
    text-align:left !important;
}
#bodyDiv{
    width:100%;
    height:100%;
    background-color:#fff;
}
#headDiv{
    width:100%;
    position:absolute;
    top:0px;
    margin-top:4rem;
    z-index:999;
}
.head{
    width:100%;
    float:left;
    overflow:hidden;
}
.nav{
    width:100%;
    z-index:500;
    margin-top:4rem;
    margin-left:10rem;
    position:relative;
    float:left;
    font-size:16px;
    font-weight:bold;
}

.nav li.top{
    display:block;
    float:left;
}

.nav li a.top_link:hover{
    color:#11449e;
}

.nav li a.top_link span.down{
    padding:0 24px 0 12px;
    height:25px;    
    background:url(images/nav_bg_down.gif) no-repeat right top;
}

.nav li a.top_link span.down{
    float:left;
    display:block;
}

.nav li a.top_link span.down{
    padding:0 24px 0 12px;
    height:25px;
}

.nav ul, .nav :hover ul ul, .nav :hover ul :hover ul ul, .nav :hover ul :hover ul :hover ul ul, .nav :hover ul :hover ul :hover ul :hover ul ul{
    position:absolute;
    left:-9999px;
    top:-9999px;
    width:0px;
    height:0px;
    margin:0px;
    padding:0px;
    list-style:none;
}

.nav li a.top_link{
    height:25px;
    line-height:25px;
    color:#3f6fc3;
    padding:0 0 0 5px;
    background:url(images/nav_lige.gif) no-repeat right bottom;
}


.tab{
    width:100%;
    text-align:left;
}

.location{
    display:block;
    text-align:left;
    padding: 8px 0px;
    padding-left:10rem;
    background-color:blanchedalmond;
}

#mainDiv{
    background-color:#fff;
    padding-left:5px;
    width:100%;
    height:100%;
    margin-top:8rem;
}
#footerDiv{
    width:100%;
    height:22px;
    margin-top:auto;
    bottom:0px;
    overflow:hidden;
    z-index:991;
}

.table{
    width:80%;
    margin:9.5rem 10rem 10rem 10rem;
    color:red;
    font-size:18px;
    background-color:#ccc;
}

/*信息查询导航*/
#LeftNavigation ul{
    list-style:none;
    margin:0;
    padding:0;
    width:auto;
}
#LeftNavigation a{
    color:#c40d42;
    text-decoration:none;
    white-space:nowrap;
    display:block;
}

ul.level1 .selected{
    background-color:white;
    color:#c40d42;
    padding-right:15px;
    padding-left:8px;
}
a.level1{
    padding-left:5px !important;
    padding-right:15px;
}
a.level1:hover{
    background-color:#509EE7;
}